@model PingPong.DataContract.PlayerDTO
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
    <div class="col-lg-push-2 col-lg-8">
        @using (Html.BeginForm("Add", "Home", FormMethod.Post))
        {
            
            @Html.AntiForgeryToken()
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>Add Player</h4>
                    </div>
                </div>
                <div class="panel-body  panel-form">
                    @Html.Partial("_playeraddedit")
                </div>
                <div class="panel-footer">
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-success">
                            Save
                        </button>
                        <a class="btn btn-lg btn-danger" href="@Url.Action("Index", "Home", new { })">Discard</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
